# Logs
logs
*.log

# Swap files
*.swp

# Runtime data
pids
*.pid
*.seed

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# MAC OS temp file
.DS_Store
